<!DOCTYPE html>
<html>
<head>
	<audio src="Dragon.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/A_D_E.css' rel='stylesheet' type='text/css'>
	<title>Awakened Ending</title>
</head>
<body>
	<pre>You awakened the Dragon and out of pure rage 
	he burned you alive!!!</pre>
	<pre>		YOU LOSE!!</pre>

	<a href="http://localhost:4567/instructions" type="button" onclick="JavaScript:alert('You are returning to the beginning')">
	<button>
	</br>
		<span class="restart">
						RESTART
		</span>
	</button>
	</a>
</body>
</html>