<!DOCTYPE html>
<html>
<head>
	<audio src="Spooky Water Drops.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/style3.css' rel='stylesheet' type='text/css'>
	<title>Stage 1: The Doors</title>
</head>
<body>
	<p>You enter a dark room with two doors. Do you go through door #1 or door #2?</p>
	<a href="http://localhost:4567/dragon_sleeping" type="button" onclick="JavaScript:confirm('You chose Door #1. Do you wish to proceed?')">
		<span class="door1">
		<button> 
		<img src="dark_door.jpg">
			<br /> 
				<span class="door_caption">
					Door #1
				</span>
		</button>
		</span>
	</a>
	<a href="http://localhost:4567/door2" type="button" onclick="JavaScript:confirm('You chose Door #2. Do you wish to proceed?')">
		<span class="door2">
		<button>
		</span>
			<img src="dark_door.jpg">
			<br />
				<span class="door_caption">
					Door #2
				</span>
		</button>
	</a>
</body>
</html>
<html>
<head>