<!DOCTYPE html>
<html>
<head>
	<audio src=".mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/d_a_e.css' rel='stylesheet' type='text/css'>
	<title>Attack Ending #1</title>
</head>
<body>

</body>
</html>