<!DOCTYPE html>
<html>
<head>
	<audio src="Snoring.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/style4.css' rel='stylesheet' type='text/css'>
	<title>Stage 2- THE DRAGON</title>
</head>
<body>
	<p>There's giant dragon in what seems to be in an eternal slumber. What do you do?</p>
	<p>
		<ol>
			<a href="http://localhost:4567/burger_ending"><li>AWAKE THE DRAGON AND DEMAND HIS COMPLETE LOYALTY AND ALLEGIANCE!!</li></a>
			<a href="http://localhost:4567/dragon_attack_ending"><li>Attack the dragon while it is unconsious and attempt to kill it to take its powers!!</li></a>
			<a href=""><li>Pet the dragon and attempt to bond with the magical and majestic creature!!</li></a>
		</ol>
	</p>
</body>
</html>
