<!DOCTYPE html>
<html>
<head>
	<audio src="Snoring.mp3" preload="auto" autoplay loop></audio>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='/style4.css' rel='stylesheet' type='text/css'>
	<title>Stage 2- THE DRAGON</title>
</head>
<body>
	<p>There's giant dragon in what seems to be in an eternal slumber. What do you do?</p>
	<p>
		<ol>
			<a href="http://localhost:4567/Awakened_dragon_ending"><li>AWAKEN THE DRAGON AND DEMAND HIS COMPLETE LOYALTY AND ALLEGIANCE!!</li></a>
			<a href="http://localhost:4567/dragon_attack_ending"><li>ATTACK THE DRAGON WHILE IT IS UNCONCIOUS AND ATTEMPT TO KILL IT TO TAKE ITS POWERS!!</li></a>
			<a href=""><li>PET THE DRAGON AND ATTEMPT TO BOND WITH THE MAGICAL AND MAJESTIC CREATURE!!</li></a>
		</ol>
	</p>
</body>
</html>
