<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <LINK href="/style2.css" rel="stylesheet" type="text/css">
    <title>Beginnning</title>
  </head>
<body>
	
	<pre>
	"This is a choose your own adventure game. Pick your option and proceed wisely, 
  OR PERISH!."</br></pre>
	<a href="http://localhost:4567/dragon%20game" type="button" onclick="JavaScript:alert('The game is beginning!')">
			<button class="button_begin">
				<span class="begin"> 
				BEGIN
				</span>
			</button>
	</br>
	
	<span class="dragpic">
		<img src="/FlippedB-flying-dragon.gif">
	</span>
</body>
</html>