 h1 {
	text-align: center;
	font-family: 'Bad Script', cursive;
}

p{
	text-align: center;
}

.dragcaption{
	font-weight: bold;
	font-family: 'Bad Script', cursive;
}

body{

	background: url(http://fc07.deviantart.net/fs71/i/2011/315/a/1/wind_dragon__outline_by_destinyscythe-d4fwcen.png);
}