h1{
	text-align: center;
	font-family: 'Bad Script', cursive;
	font-weight: bold;
	font-size: 50px;
	border-width: thick;
	border-color: yellow;
	text-decoration: underline;
	text-shadow: 5px 4px gray;
}

h1 {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

p{
	text-align: center;
}

.dragcaption{
	font-weight: bold;
	font-family: 'Bad Script', cursive;
}

body{

	background: url(1276277844_1368692387.jpg);
	background-size: cover;
}

button{
	margin-top: 30%;
	color: black;
	/*background-color: red;*/
	padding: 0px 5px 15px !important;
	font-size: 18px !important;
	background-color: red;
	font-weight: bold;
	text-shadow: 3px 3px gray;
	border-radius: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 100px;
	border: 3px solid black;
	cursor: pointer;
	/*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;*/
	/*-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;*/
	/*-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;*/
	/*outline-color: red;*/
}

audio{
	
}