a:link{
	color: black;
}

a:hover{
	text-decoration: none;
}

a:active{
	color: blue;
	background-color: black;
}

html{
	background-image: url(dark_room.jpg);
}

p{
	font-size: 45px;
	color: white;
	font-family: 'Bad Script', cursive;
	text-shadow: 5px 5px gray;
	font-weight: bolder;

}

.door_caption{
	font-family: 'Bad Script', cursive;
	font-weight: bolder;
}

.door2{
	margin-left: 25%;
}